/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/ExceptionHanding12/nbproject/private/
/ExceptionHanding12/build/
/JdbcTest59/nbproject/private/
/FreeCodeCamp/nbproject/private/
/FreeCodeCamp/build/
/MonthlyEvidenceCoreJava/nbproject/private/
/MonthlyEvidenceCoreJava/build/
